## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': ["City"+str(i+1) for i in range(10)],
        '人口': np.random.randint(1000000,size=10)}

data = pd.DataFrame(data)

In [3]:
data

       國家      人口
0   City1  147388
1   City2  971080
2   City3  894943
3   City4  208126
4   City5  395869
5   City6  795813
6   City7  874654
7   City8  560668
8   City9  244024
9  City10  907708